body {
  background: #f0f0f0;
}

.dino {
  position: relative;
  top: 130px;
  background-image: url(dino.png);
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 140px;
  background-image: url(cactus.png);
}

.game-over {
  text-align: center;
  color: #666;
  margin: 50px 0;
  font-family: arial;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.background {
  position: relative;
  padding: 5px;
  justify-content: center;
  bottom: 0px;
  background-image: url('background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 700px;
  height: 200px;
}
